#!/bin/bash

export PATH="$PATH:/home/simon/Apps/bin"
export VISUAL=vim;
export EDITOR=vim;

alias mkdir='mkdir -pv'
alias ll="ls -lAh"
alias r="ranger"
alias a="sudo apt"
alias A="sudo apt install"
alias p="pip"
alias P="pip install"
alias python="python3"
alias pip="pip3"
alias pip2="/home/simon/.local/bin/pip"
alias q="exit"
alias tb="nc termbin.com 9999"
alias wifi="nmtui"
alias config='/usr/bin/git --git-dir=/home/simon/.cfg/ --work-tree=/home/simon'
alias configMaster='/usr/bin/git --git-dir=/home/simon/.cfg/ --work-tree=/home/simon commit -a -m "Auto backup!"; /usr/bin/git --git-dir=/home/simon/.cfg/ --work-tree=/home/simon pull && /usr/bin/git --git-dir=/home/simon/.cfg/ --work-tree=/home/simon push'
alias configSlave='/usr/bin/git --git-dir=/home/simon/.cfg/ --work-tree=/home/simon pull --force'
alias watch="watch -n.1"
alias xclipp="xclip -selection clipboard"
alias help='cat $HOME/Scripts/my-scripts/help_message'

function c() {
	# curl with all parameters
	curl -s cheat.sh/"$*"
}

function CODE(){
  code $1 && q
}

function hot(){
    ls "$2" | entr "$1" "$2" "$3"
}

function b(){
	# check if file /tmp/b.py not exist
	if [ ! -f /tmp/b.py ]; then
		# if not exist, download from 'https://gist.githubusercontent.com/Shirobachi/293c92aaa24dd57068c6e5775ee23cb0/raw/b3f056890f6ef3df9056441c32122ae9bfff151f/budget.py'
		curl -s https://gist.githubusercontent.com/Shirobachi/293c92aaa24dd57068c6e5775ee23cb0/raw/b3f056890f6ef3df9056441c32122ae9bfff151f/budget.py -o /tmp/b.py
	fi

	cd "$HOME/.Downloads" || exit

	# run python script
	python /tmp/b.py "$@"

	cd - || exit
}

# if file called .bash_no_backup exists, run this
if [ -f "$HOME/.bash_no_backup" ]; then
		# shellcheck source=/dev/null
		source "$HOME/.bash_no_backup"
fi
